nav
{
    font-family: 'Poppins', sans-serif;
}

.container-fluid
{
    font-family: 'Poppins', sans-serif;
}

.logo
{
    width: 130px;
    margin: 3px;

}

nav a:hover .logo
{
    width: 140px;
    margin: 0px;
    transition: .2s;
}

.card .card-body .btn
{
    background-color: #16a094fe;
}

.card .card-body .btn:hover
{
    background-color: #176d66fe;
}

.card .card-body .card-title
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img-top
{
    object-fit: cover;
}